---
import Layout from '../layouts/Layout.astro'
import Projects from '../components/Projects.astro'
---

<Layout title="100 JavaScript projects">
  <main
    class="pt-12 min-h-screen flex gap-y-20 flex-col justify-between px-8 relative"
  >
    <Projects />
  </main>
</Layout>
