---
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Ot Roca Tanya" />
    <meta
      name="description"
      content="This is a challenge wich objective is to reach 100 web projects 100% built using only HTML, CSS, and JavaScript"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://javascript100.otroca.dev/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="100 JavaScript projects" />
    <meta
      property="og:description"
      content="This is a challenge wich objective is to reach 100 web projects 100% built using only HTML, CSS, and JavaScript"
    />
    <meta
      property="og:image"
      content="https://javascript100.otroca.dev/screenshoot.avif"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="javascript100.otroca.dev" />
    <meta property="twitter:url" content="https://javascript100.otroca.dev/" />
    <meta name="twitter:title" content="100 JavaScript projects" />
    <meta
      name="twitter:description"
      content="This is a challenge wich objective is to reach 100 web projects 100% built using only HTML, CSS, and JavaScript"
    />
    <meta
      name="twitter:image"
      content="https://javascript100.otroca.dev/screenshoot.avif"
    />

    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body>
    <div id="bg">
      <slot />
    </div>
  </body><style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,700;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');
    @import 'tailwindcss';

    :root {
      --richblack: #000e22;
      --navy: #001533;
      --seablue: #2e4a66;
      --slate-gray: #b4b9c0;
      --anti-flash-white: #efefef;
      --screaming-green: #4cd625;
      --background-lines: #2e4a6620;
    }

    html,
    body {
      font-family: 'Gudea', Inter, Roboto, 'Helvetica Neue', 'Arial Nova',
        'Nimbus Sans', Arial, sans-serif;

      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      margin: 0;
      background: var(--navy);
      color: var(--anti-flash-white);
    }

    h1,
    h2,
    h3 {
      color: var(--screaming-green);
      font-family: 'Anonymous Pro', serif;
      font-weight: 700;
      font-style: normal;
    }

    #bg {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
          to right,
          var(--background-lines) 1px,
          transparent 1px
        ),
        linear-gradient(to bottom, var(--background-lines) 1px, transparent 1px);
      background-size: 64px 64px;
    }

    .btn {
      font-family: 'Anonymous Pro', serif;
      width: fit-content;
      font-weight: 700;
      text-decoration: none;
      padding: 0.6rem 1rem;
      border-radius: 0.4rem;
      transition: transform 0.5s ease;
      display: flex;
      align-items: center;
      justify-items: center;
    }

    .primary-btn {
      color: var(--richblack);
      background: var(--screaming-green);
      border: 2px var(--screaming-green) solid;
    }

    .primary-btn:hover,
    .primary-btn:active {
      color: var(--screaming-green);
      background: var(--navy);
      transform: translateY(-3px);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .secondary-btn {
      border: 2px var(--screaming-green) solid;
      color: var(--screaming-green);
      background: var(--richblack);
    }

    .secondary-btn:hover,
    .secondary-btn:active {
      color: var(--richblack);
      background: var(--screaming-green);
      transform: translateY(-3px);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .project-card {
      position: relative;
      overflow: hidden;
      background: var(--seablue);
      border-radius: 1rem;
      transition: all 300ms ease-in-out;
    }

    .project-card:hover,
    .project-card:active {
      transform: rotate(1deg) translateY(-12px) scale(1.05);
      box-shadow: 0px 5px 10px 0px var(--seablue);
    }

    .tech-icon {
      font-family: 'Anonymous Pro', serif;
      font-weight: 700;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      padding: 0.4rem 1rem;
      color: var(--anti-flash-white);
      background: var(--richblack);
      border-radius: 2.5rem;
    }
  </style>
</html>
